*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body{
    font-family: 'Courier New', Courier, monospace;
    color: #333;
}



.expense-container, .nav-container, .container{
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
}

.nav-container, .menu{
    display: flex;
    gap:16px;
}

.menu li{
    margin-right: 10px ;
    list-style-type: none;
}

.expense-container{
    padding: 40px 20px;
    max-width: 800px;
    display: flex;
    gap: 20px;
    align-items: center;
    border: 2px solid #ddd;
    border-radius: 8px;
}

.category-label{
    padding: 10px 20px;
    width: 120px;
    background-color: blueviolet;
    border-radius: 24px;
    color: aliceblue;
    font-weight: 600;
}