{% load static %}

<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Expenses Tracker{% endblock %}</title>

    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>

    <!-- HEADER -->
    <header>
        <nav class="navbar nav-container">
            <a href="/" class="logo">Expenses Tracker</a>
            <ul class="menu">
                <li><a href="/add-expense">Dodaj wydatek</a></li>
                <li><a href="/expenses/">Wydatki</a></li>
            </ul>
        </nav>
    </header>

    <!-- MAIN CONTENT -->
    <main class="content">
        <div class="container">
        {% block content %}
        {% endblock %}
        </div>
    </main>

    <!-- FOOTER -->
    <footer>
        <p>© 2025 by SKwebS</p>
    </footer>

</body>
</html>
